body {
    padding: 50px 0;
    margin: 0 auto;
    width: 100vw;
    min-height: calc(100vh - 100px);
    text-align: center;
    font-family: monospace;
    
    
}
section{
    display: inline-block;
    width: 30%;
    padding: 10px;
}
hr{
    width: 50%;
    border: 2px solid black;
}
li{
    text-align: left;
}
span{
    margin: 5px;
}
p{
    font-size: 15px;
    margin: 10px;
}