.form-container {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    
}
label{
    display: block;
    margin: 10px;
    color: brown;
    width: 100%;
}
input,textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}
button{
    display: block;
    margin: 10px auto 10px;
    width: 30%;
    padding: 10px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
}
button:hover{
    background-color: orange;
    color: black;
}
form{
    text-align: center;
}