#main{
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    margin-bottom:1rem;
}
#img-div{
    background-color: #fff;
    padding-bottom: 1rem;
   
}
#tribute-info{
    padding: 2rem 6rem;
  
   
}
#tribute-info ul{
    margin-bottom: 4rem;
}
#tribute-info ul li{
    line-height: 2em;
    font-weight: 300;
}
span{
    font-weight: 900;
}
#tribute-quote{
    font-style:italic ;
}
#tribute-quote p{
    text-indent: 3em;
}
#tribute-link{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
#tribute-link a{
    color: #477ca7;
    cursor: pointer;
}