#email{
    padding: 50px;
    margin: 50px auto;
    width: 600px;
    padding: 50px;
    border: 2px;
    box-sizing: border-box;
    background-color: seashell;
    box-shadow:10px 5px 5px grey ;
}
#confidential{
    display: inline-block;
    padding: 20px;
    margin-left: 80px;
    border: 7px solid red;
    color: red;
    transform: rotate(-30deg);
    font-size: 20px;
    font-weight: 700;
}
#top-secret{
    display: inline-block;
    padding: 20px;
    margin-left: 200px;
    border: 7px solid red;
    transform: rotate(20deg);
    color: red;
    font-size: 20px;
    font-weight: 700;

}
.blurred{
    filter: blur(3px);
}